.fc-header-toolbar {
   position: absolute;
   top: 0vh;
   left: 0vw;
   width: 1px;
   height: 1px;
}

.fc-toolbar-title {
   visibility: hidden;
 }
 
 .fc-today-button {
    visibility: hidden;
 }
 .fc-prev-button {
   visibility: hidden;
}
.fc-next-button {
   visibility: hidden;
}

.fc-dayGridMonth-button {
      visibility: hidden;
}

.fc-timeGridWeek-button {
   visibility: hidden;
}

.fc-timeGridDay-button {
   visibility: hidden;
}

.fc--button {
   visibility: hidden;
}
.fc-view-harness {
    max-height: 93.5vh;
    max-width: 83.3vw;
 }